.menu-section{
  background: $blancocasa;
}
.menu-top-active
{
  background-color: $azulcasa;
}

.nav>li>a:hover, .nav>li>a:focus{
  background-color: $azulcasa;
}

.below-slideshow{
  background-color: $azulcasa;
}
.navbar {
  min-height: 0;
}
.navbar-brand {
  height: auto;
  img{
    max-height: 150px;
  }
}

.below-slideshow{
  text-align: center;
}
.just-txt-div{
  text-align: center;
}