.menu-section {
  background: $blancocasa;
}

.menu-top-active {
  background-color: $azulcasa;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $azulcasa;
}

.below-slideshow {
  background-color: $azulcasa;
}

.navbar {
  min-height: 0;
}

.navbar-brand {
  height: auto;
  img {
    max-height: 150px;
  }
}

.below-slideshow {
  text-align: center;
}

.just-txt-div {
  text-align: center;
}

.footer-sec {
  background: $azulcasa;
}

.predicaBlock {
  display: block;
  box-shadow: 5px 5px 25px $azulcasa;
  padding: 10px;
  color: #000;
  min-height: 300px;
  &:hover {
    color: #000;
  }
  h3 {
    font-size: 16px;
    font-family: "Open Sans Condensed";
    text-align: left;
    padding: 0 18px;
  }
  p {
    text-align: justify;
    padding: 0 18px;
  }
}

.predicaBlock {
  box-shadow: 5px 5px 25px $azulcasa;
  padding: 20px;
  h2 {
    strong {
      display: block;
      word-wrap: break-word;
    }
  }
}

.bs-devolcional-tabs {
  ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    li {
      border-bottom: 1px solid #e3e3e3;
      padding: 10px 0;
    }
  }
  h3 {
    text-align: center;
  }
  h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
  }
  p, a {
    padding-left: 20px;
  }
  a {
    &:hover {
      color: #235196;
    }
  }
  .tab a {
    transition: ease all 0.5s;
  }
}

.lightgallery {
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    display: block;
    padding: 10px;
    img {
      max-height: 350px;
      min-height: 350px;
    }
  }
}

.head-line {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

#map{
  height: 400px;
  width: 100%;
}


.wrp-waze{
  margin-bottom: 20px;
  a{
    display: inline-block;
    padding: 0 20px;
    transition: ease all 0.5s;
    &:hover{
      color: darken($azulcasa, 20%);
      img{
        background: $azulcasa;
        border-color: darken($azulcasa, 20%);
      }
    }
  }
  img {
    display: inline-block;
    width: 60px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 100%;
    transition: ease all 0.5s;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.lightgallery li img {
  max-height: 125px;
  min-height: 120px;
}