.menu-section{
  background: $blancocasa;
}
.menu-top-active
{
  background-color: $azulcasa;
}

.nav>li>a:hover, .nav>li>a:focus{
  background-color: $azulcasa;
}

.below-slideshow{
  background-color: $azulcasa;
}
.navbar {
  min-height: 0;
}
.navbar-brand {
  height: auto;
  img{
    max-height: 150px;
  }
}

.below-slideshow{
  text-align: center;
}
.just-txt-div{
  text-align: center;
}


.footer-sec {
  background: $azulcasa;
}

.predicaBlock {
  display: block;
  box-shadow: 5px 5px 25px $azulcasa;
  padding: 10px;
  color: #000;
  min-height: 300px;
  &:hover{
    color:#000;
  }
  h3{
    font-size: 16px;
    font-family: "Open Sans Condensed";
    text-align: left;
    padding: 0 18px;
  }
  p{
    text-align: justify;
    padding: 0 18px;
  }
}
.predicaBlock{
  box-shadow: 5px 5px 25px $azulcasa;
  padding: 20px;
}