{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <img alt="Imagen" src="{{ object.getImagePath() | default('') }}" width="150px"/>
    </div>
{% endblock %}