{% extends 'base.html.twig' %}
{% block body %}
    <div class="below-slideshow">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="txt-block">


                        <h1 class="head-line">ASÍ DICE SU PALABRA</h1>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="tag-home"> Dudas en cuanto a su fe, cómo crecer en salvación, ¿los cristianos pueden ser como el mundo? <strong>consectetur adipiscing elit</strong>.</h1>
                <hr />
            </div>
        </div>
    </div>
    <!-- TAG HOME SECTION END-->
    <div class="just-sec">


        <div class="container">

            <div class="row">

                {% for predica in predicas %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="just-txt-div">
                            <h2><strong>{{ predica.nombre }} </strong>  </h2>
                            {{ predica.descripcionBreve | raw }}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--JUST SECTION END-->
    <!-- PARALLAX LIKE SECTION END-->
    <!--CLIENT SECTION END-->
    <!--SET-DIV SECTION END-->
{% endblock %}