{% extends 'base.html.twig' %}
{% block body %}
    <div class="below-slideshow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="txt-block">
                        <h1 class="head-line">DEVOCIONALES</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="tag-home">CAMBIAR TEXTO</h1>
                <hr/>
            </div>
        </div>
    </div>
    <!-- TAG HOME SECTION END-->
    <div class="just-sec">
        <div class="container">
            {% for keyAno, ano in devocionales %}
                <h3>{{ keyAno }}</h3>
                <div class="bs-devolcional-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for keyMes, mes in ano|reverse %}
                            {% set params = {
                            'active' : loop.first,
                            'keyAno' : keyAno,
                            'keyMes' : keyMes,
                            } %}
                            {% include '@JSApp/Default/partials/item_devocional_tab.html.twig' with params only %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for keyMes, mes in ano|reverse %}
                            {% set params = {
                            'active': loop.first,
                            'keyAno' : keyAno,
                            'keyMes' : keyMes,
                            'mes'    : mes,
                            } %}
                            {% include '@JSApp/Default/partials/item_devolcional.html.twig' with params only %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}