{% extends 'base.html.twig' %}
{% block body %}
    <div class="below-slideshow">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="txt-block">
                        <h1 class="head-line">HATILLO Y OROTINA, UNIDOS EN DIOS</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->

    <div class="just-sec" id="port-folio">
        <div class="container">
            {% for galery in galerias %}
                <h3>{{ galery.nombre }}</h3>
                <ul class="row lightgallery">
                    {% for item in galery.items %}
                        {% if item.video != '' %}
                            {% set url = item.video %}
                        {% else %}
                            {% set url = item.getImagePath() %}
                        {% endif %}
                        <li class="col-md-4 " data-src="{{ url }}">
                            <img src="{{ item.getImagePath() }}" class="img-responsive"/>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}