{% extends 'base.html.twig' %}
{% block body %}
    <div class="below-slideshow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="txt-block">
                        <h1 class="head-line">PRÉDICAS</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="tag-home">  Estudios, discipulados, prédicas y enseñanzas. Este es un espacio para aprender, crecer y fomentar la Palabra de Dios. </h1>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            {% for categoria in categorias %}

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <a href="{{ path('predica_categoria', {'categoria': categoria.slug }) }}" class="predicaBlock">
                        <div class="just-txt-div">
                            <img src="{{ categoria.getImagePath() }}" alt="" class="img-circle set-about-img"/>
                            <h2><strong>{{ categoria.nombre }} </strong></h2>
                            <p>{{ categoria.descripcion|raw }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}