{% extends 'base.html.twig' %}
{% block body %}
    <div class="below-slideshow">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="txt-block">


                        <h1 class="head-line">{{ predica.nombre }}</h1>
                        <h2>Fecha {{ predica.fecha | date('d-m-Y') }} </h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="tag-home">
                        {{ predica.descripcionBreve | raw }}
                </h1>
                <hr />
            </div>
        </div>
    </div>
    <!-- TAG HOME SECTION END-->
    <div class="just-sec">

        <div class="container">

            <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 predicaBlock">
                        {{ predica.descripcion|raw }}
                    </div>
            </div>

        </div>
    </div>
    <!--JUST SECTION END-->
    <!--CLIENT SECTION END-->
    <!--SET-DIV SECTION END-->
{% endblock %}