<div class="tab-pane fade {% if active %}active in{% endif %}" role="tabpanel" id="{{ 'tab-' ~ keyAno ~ '-' ~ keyMes }}"
     aria-labelledby="{{ 'tab-' ~ keyAno ~ '-' ~ keyMes ~ '-tab' }}">
    <ul>
        <h3>Devocionales</h3>
        {% for keySemana, devocionalArray in (mes) %}
            <li>
                <div>
                    <h4>{{ keySemana }}</h4>
                    {% for devocional in devocionalArray %}
                        <a href="#">{{ devocional.nombre }}</a>
                    {% else %}
                        <p>Próximamente nuevos devocionales de esta semana.</p>
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <li>
                <div>
                    <h4>Próximamente nuevos devocionales de este mes.</h4>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>